<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>大乱闘スマッシュブラザーズ - YouTube Plus⁺</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }
        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>
</head>
<body>
    <iframe src="https://firebasestorage.googleapis.com/v0/b/psan-file.appspot.com/o/data%2Fiumpiw671%2F%25E3%2582%25B9%25E3%2583%259E%25E3%2583%2596%25E3%2583%25A9%25E3%2581%25BB%25E3%2581%25BC%25E6%2597%25A5%25E6%259C%25AC%25E8%25AA%259E%25E7%2589%2588.html?alt=media&token=b8f2e55d-0da0-4b5a-b478-a0d76b4ae9bd" title="Among Us <公式サーバー> - Dieu Éviter"></iframe>
</body>
</html>
