<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geometry Dash - YouTube Plus⁺</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }
        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>
</head>
<body>
    <iframe src="https://firebasestorage.googleapis.com/v0/b/psan-file.appspot.com/o/data%2Fuozy86459%2FGeometry%2520Dash%2520(1).html?alt=media&token=0dff6dad-5dd3-4f99-8316-49f7b0efd2e4" title="Among Us <公式サーバー> - Dieu Éviter"></iframe>
</body>
</html>
