<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>わんこ大戦争 - YouTube Plus⁺</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }
        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>
</head>
<body>
    <iframe src="https://firebasestorage.googleapis.com/v0/b/psan-file.appspot.com/o/data%2Fwwn8nysxz%2F%25E3%2582%258F%25E3%2582%2593%25E3%2581%2593%25E5%25A4%25A7%25E6%2588%25A6%25E4%25BA%2589%2520%25E5%25AE%258C%25E5%2585%25A8%25E5%2586%258D%25E7%258F%25BE%2520%25E3%2583%2593%25E3%2583%2583%25E3%2583%2588%25E3%2583%259E%25E3%2583%2583%25E3%2583%2597ver.html?alt=media&token=a4783299-0a7f-46c3-ad2d-d289f8e5964e" title="Among Us <公式サーバー> - Dieu Éviter"></iframe>
</body>
</html>
